*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.InputPage{
    width: 100%;
    height: 100vmin;
    background-color: rgb(23,22,23);
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagebox{
    width: 60vmin;
    height: 85vmin;
    background-color: white;
    border-radius: 0.5vmin;
    padding: 2vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.photoUpload {
    width: 60vmin;
    height: 40vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid gray;

}
.photoUpload > div{
    display: flex;
    align-items: center;
}
.photoUpload > div > label{
    cursor: pointer;
    color: blue;
    font-size: 2.5vmin;
}
.title{
    width: 60vmin;
    height: 30vmin;
    padding: 2vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title > div{
    width: 50vmin;
    display: flex;
    justify-content: space-between;
}
.title > div > input{
    width: 20vmin;
    outline: none;
}
.UploadSaveBtn{
    width: 20vmin;
    height: 5vmin;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5vmin;
    font-size: 3vmin;
    text-decoration: none;
    cursor: pointer;
}
