*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: roboto;
}
.profilepage{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.profilefirst{
    height: 70vmin;
    margin-top: 15vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pro1{
    width: 120vmin;
    height: 25vmin;
    display: flex;
}
.prophoto{
    width: 25vmin;
    height: 25vmin;
    border-radius: 50%;
    border: 5px solid black;
    overflow: hidden;
}
.proname{
   width: 90vmin;
   margin-left: 5vmin;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.proname > div{
    height: 7vmin;
    width: 54vmin;
    display: flex;
    justify-content: space-between;
}
.name{
    font-size: 6.5vmin;
}
.job{
    font-size: 2vmin;
}
.discription{
    font-size: 2.5vmin;
}
.pro2{
    width: 120vmin;
    height: 30vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.applink{
    width: 31vmin;
    height: 10vmin;
    margin-left: 5vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.insta{
   width: 30vmin;
   height: 4vmin;
   display: flex;
   justify-content: space-between;
   border: 2px solid rgb(56,187,255);
   align-items:  center;
   border-radius: 1vmin;
}
.youtube{
    width: 30vmin;
    height: 4vmin;
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(56,187,255);
    align-items:  center;
    border-radius: 1vmin;
}
.video{
    width: 48vmin;
    height: 28vmin;
    border: 2px solid rgb(56,187,255);
    margin-right: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}